<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="MTT Vue cart demo">
  <title>Document</title>
  <script src="cart.js" type="module"></script>
  <link rel="stylesheet" href="styles.css">
  <link rel="stylesheet" href="animations.css" media="print" onload="media='all'" >
</head>
<body>
  <div id="app">
    <nav class="nav flex-between">
      <h2 class="nav__header">Shop Name</h2>
      <div class="nav__buttons flex-between">
        <button 
          class="nav__dark-mode-button"
          @click="toggleTheme('dark-mode')"
          aria-label="toggle dark mode"
        >Dark Mode</button>
        <button 
          class="nav__high-contrast-button"
          @click="toggleTheme('high-contrast')"
          aria-label="toggle high contrast mode"
        >High Contast Mode</button>
        <div class="nav__cart">
          <button
            @click="showCart = !showCart"
            class="nav__cart-button button--secondary"
            id="show-cart-button"
          >Cart</button>
          <span 
            class="nav__cart-quantity animate-scale-up"
            v-if="totalQuantity > 0"
          >{{ totalQuantity }}</span>
        </div>
      </div>
    </nav>

    <div id="cart" v-if="showCart">
      <div @click="showCart = !showCart" class="cart__model-bg"></div>
      <div class="cart__content">
        <div class="cart__empty-message" v-if="cart.length === 0">No items in cart</div>
        <ul class="cart__list list-none" v-else>
          <li
            class="cart__item flex-between"
            v-for="product in cart"
            :key="product.id"
          >
            <span class="cart__item__name">{{ product.name }}</span>
            <label :for="'cart-quantity-' + product.id" class="hidden">Quantity</label>
            <input 
              class="cart__item__quantity" 
              v-model.number="product.quantity" 
              type="number"
              :id="'cart-quantity-' + product.id"
              aria-label="quantity input"
            />
            <div class="cart__item__price-and-remove flex-between">
              <span class="cart__item__price">{{ currencySymbol }}{{ product.price * product.quantity }}</span>
              <button @click="removeFromCart(product.id)" class="cart__item__remove-button button--icon" aria-label="remove">
                <svg class="icon-x" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 980 980.34">
                  <path d="M103.73,10.83C62.86,16.4,27,47.1,14.31,87.59c-5.18,16.5-5.56,44.33-1,60.25,8.64,29,2.5,22.26,173.47,193.43l158.7,158.89-158.7,158.7C15.85,830.23,22,823.51,13.35,852.49c-4.8,15.93-4.41,43.94,1,60.26a112.62,112.62,0,0,0,73.11,73.11c16.31,5.37,44.33,5.76,60.26,1,29-8.63,22.26-2.49,193.62-173.47L500,654.65l158.89,158.7c171.17,171,164.45,164.84,193.43,173.47,15.93,4.8,43.95,4.42,60.26-1a112.6,112.6,0,0,0,73.11-73.11c5.37-16.31,5.76-44.33,1-60.26-8.63-29-2.49-22.26-173.47-193.62l-158.7-158.7,158.7-158.89C984.16,170.11,978,176.82,986.65,147.85c4.8-15.93,4.42-43.94-1-60.25a112.62,112.62,0,0,0-73.11-73.11c-16.31-5.37-44.33-5.76-60.26-1-29,8.63-22.26,2.5-193.43,173.47L500,345.69,341.3,187C203.13,49,180.88,27.72,170.7,22.73,149,11.79,126,7.76,103.73,10.83Z" transform="translate(-10 -9.83)"/>
                </svg>
              </button>
            </div>
          </li>
        </ul>
        <div class="cart__footer flex-between">
          <span class="cart__footer__total">{{ currencySymbol }}{{ totalValue }}</span>
          <div class="cart__footer__buttons flex-between">
            <button class="cart__footer__clear-button button--text" @click="clearCart()" aria-label="clear">Clear</button>
            <button class="cart__footer__checkout-button button--primary flex-between" type="submit" aria-label="checkout">Checkout
              <svg class="icon-arrow" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 629.21 980.05">
                <path d="M813.13,452.19a67,67,0,0,1,0,94.68L402.91,957.08c-43.3,43.3-123.7,43.3-166.9,0s-43.3-123.7,0-166.9l290.6-290.7L236,208.88c-43.3-43.3-43.3-117.5,0-166.9,43.3-43.3,117.5-43.3,166.9,0Z" transform="translate(-203.53 -9.51)"/>
              </svg>
            </button>
          </div>
        </div>
      </div> 
    </div>

    <section class="products container">
      <div 
        class="product"
        v-for="product in products"
        :key="product.id"
      >
        <h3 class="product__header">{{ product.name }}</h3>
        <img 
          src="https://ustvstaticcdn2-a.akamaihd.net/i/channel/picture/2/2/6/0/22600553/22600553,192x192,r:2.jpg" 
          alt="product.name" 
          class="product__image"
          style="width: 220px"
        >
        <p class="product__price">{{ currencySymbol }}{{ product.price }}</p>
        <div class="product__cart">
          <div class="product__quantity">
            <label :for="'quantity-' + product.id" class="hidden">Quantity</label>
            <input
              class="product__quantity-input"
              :id="'quantity-' + product.id"
              type="number" v-model.number="product.quantity"
              :placeholder="0"
              aria-label="quantity input"/>
          </div>
          <button
            @click="addToCart(product, product.quantity)"
            class="product__add-button button--secondary"
            type="submit"
            aria-label="add to cart"
          >Add to cart</button>
        </div>
      </div>
    </section>

  </div>
</body>
</html>