<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="cart.js" type="module"></script>
  <link rel="stylesheet" href="styles.css">
</head>
<body>
  <div id="app">
    <nav class="nav flex-between">
      <h2 class="nav__header">Shop Name</h2>
      <div class="nav__cart">
        <button
          @click="showCart = !showCart"
          class="nav__cart-button button--secondary"
          id="show-cart-button"
        >Cart</button>
        <span class="nav__cart-quantity">{{ totalQuantity }}</span>
      </div>
    </nav>

    <div id="cart" v-if="showCart">
      <div @click="showCart = !showCart" class="cart__model-bg"></div>
      <div class="cart__content">
        <ul class="cart__list list-none">
          <li
            class="cart__item flex-between"
            v-for="product in cart"
            :key="product.id"
          >
            <span cart__item__name>{{ product.name }}</span>
            <input 
              class="cart__item__quantity" 
              v-model.number="product.quantity" 
              type="number"
            />
            <span cart__item__price>£{{ product.price * product.quantity }}</span>
            <button @click="removeFromCart(product.id)" class="cart__remove-button button--icon">X</button>
          </li>
        </ul>
        <div class="cart__footer flex-between">
          <span class="cart__footer__total">£{{ totalValue }}</span>
          <div class="cart__footer__buttons">
            <button class="cart__footer__clear-button button--text" @click="clearCart()">Clear</button>
            <button class="cart__footer__checkout-button button--primary">Checkout</button>
          </div>
        </div>
      </div> 
    </div>

    <section class="products container">
      <div 
        class="product"
        v-for="product in products"
        :key="product.id"
      >
        <h3 class="product__header">{{ product.name }}</h3>
        <img 
          src="https://placeimg.com/300/300/any" 
          alt="product.name" 
          class="product__image"
          style="width: 220px"
        >
        <p class="product__price">£{{ product.price }}</p>
        <div class="product__cart">
          <div class="product__quantity">
            <input class="product__quantity-input" type="number" v-model.number="product.quantity" :placeholder="0"/>
          </div>
          <button
            @click="addToCart(product, product.quantity)"
            class="product__add-button button--secondary"
          >Add to cart</button>
        </div>
      </div>
    </section>

  </div>
</body>
</html>