/* CSS variables */
:root {
  --c-base: rgb(255,255,255);
  --c-text: rgb(27, 27, 27);
  --c-primary: rgb(111,187,224);
  --c-primary-dark: rgb(65, 142, 180);
  --c-secondary: rgb(227,140,91);
  --c-secondary-dark: rgb(189, 101, 50);
  --c-alert: rgb(185, 0, 25);
  --c-gray-1: rgb(75, 75, 75);
  --c-gray-2: rgb(124, 124, 124);
  --c-gray-3: rgb(192, 192, 192);
  --c-gray-3: rgb(192, 192, 192);
  --c-gray-4: rgb(233,232,230);
}


/* SCSS variables */
$round-1: 2px;
$round-2: 4px;
$border-1: solid 1px var(--c-gray-2);
$page-width-desktop: 1200px;
$page-margin: 1.5rem;

// Clear browser default styles & general styles
* {
  margin: 0;
  padding: 0;
  border: 0;
}

html {
  font-family: sans-serif;
}

button,
.button {
  cursor: pointer;
  border-radius: $round-1;
  padding: 0.8em 2em;
  &--primary {
    color: var(--c-base);
    background: var(--c-primary);
    &:hover {
      background: var(--c-primary-dark);
    }
  }
  &--secondary {
    color: var(--c-base);
    background: var(--c-secondary);
    &:hover {
      background: var(--c-secondary-dark);
    }
  }
}

a {
  text-decoration: none;
}


/* Utility classes */
.container {
  max-width: $page-width-desktop;
  margin-left: $page-margin;
  margin-right: $page-margin;
  @media (min-width: $page-width-desktop) {
    position: relative;
    left: calc(50% - #{$page-margin});
    transform: translatex(-50%);
  }
}

.flex-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.list-none {
  list-style-type: none;
  padding: 0;
  margin: 0;
}



/* Navigation section */
.nav {
  padding: 0.8rem $page-margin;
  background: var(--c-primary);
  color: var(--c-base);
  
  &__header {
    font-size: 2.5rem;
  }
  
  &__cart {
    position: relative;
    
    &-quantity{
      align-items: center;
      background: var(--c-alert);
      border-radius: 50%;
      text-align: center;
      font-weight: bold;
      height: 1rem;
      width: 1rem;
      padding: 0.3rem;
      position: absolute;
      right: -10px;
      top: -10px;
    }
    
    .cart {
      background: var(--c-base);
      color: var(--c-text);
      border: $border-1;
      border-radius: $round-1;
      overflow: auto;
      padding: 0 1rem;
      position: absolute;
      right: 0;
      width: 12rem;
      
      &__list {
        list-style: none;
        
        li {
          margin: 1rem 0;
        }
      }
    }
  }
}
